/* Styles pour l'application */
.app-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  margin-left: 300px;
  gap: 10rem;
}

/* Colonne de gauche */
.left-column {
  flex: 1;
  padding: 5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px;
}

/* Colonne de droite */
.right-column {
  flex: 1;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

td {
  color: #fff;
}

/* Styles pour la todolist */
input[type="text"] {
  width: 92%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4a90e2;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #357ab8;
}

/* Styles pour les éléments de la liste des tâches */
ul{
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 20px;

}

li {
  display: flex;
  flex: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 5px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 25px;
}

.todosuppr {
  flex: 15%;
  background: red;
  border: none;
  color: red;
  font-size: 20px; /
  cursor: pointer;
}

span {
  flex: 70%;
  text-align: center;
  text-decoration: none;
}

input[type="checkbox"] {
  flex: 15%;
  margin: 0;
  padding: 0;
}

